#logo-img {
    height: 50px;
    width: auto;
}

#cards-area {
    margin-left: 300px;
}

#grade-title {
    display: flex;
    align-items: center;
}

.grade {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    font-size: 20px;
}

.list-info {
    font-size: 1vw;
}

#fab {
    position: absolute;
    top: 90vh;
    left: 90vw;
}

#add-college {
    min-width: 400px;
    min-height: 250px;
    width: 400px;
    height: 250px
}

#college-options {
}

.spinner-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-flow: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    font-family: "Roboto";
}

@media only screen and (max-width: 992px) {
    #cards-area {
        margin-left: 0px;
    }
}