<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niche Saved Colleges</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='external_css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="green darken-2">
        <div class="nav-wrapper">
            <div class="container"> 
                <a href="#" class="brand-logo center">Niche Saved Colleges</a>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
            </div>
            
        </div>
    </nav>


    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background green darken-3" >
                    
                </div>
                <a href="#user"><img class="circle" src="{{ url_for('static', filename='images/instagram_profile_image.png') }}"></a>
                <a href="#name"><span class="white-text name">Jason Acheampong</span></a>
                <a href="#email"><span class="white-text email">jason.timelessapps@gmail.com</span></a>
            </div>
        </li>

        <li><a href="#!"><i class="material-icons">cloud</i>Save Colleges to Cloud</a></li>
        <li><a href="https://www.niche.com/" target="_blank">Check out Niche</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Timeless Apps</a></li>
        <li><a class="waves-effect" href="http://www.timeless-apps.com/" target="_blank">Timeless Apps Website</a></li>
    </ul>

    <div>
        <div id="cards-area" class="row">
            
        </div>

        <a href="#add-college" class="btn-floating btn-large waves-effect waves-light teal darken-1 modal-trigger" id="fab"><i class="material-icons">add</i></a>

        <div id="add-college" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Find a College</h4>
                <form>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="search-college" class="input">
                        <label for="search-college">Search a College...</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Exit</a>
                <a href="javascript:;" onclick="search_college()" class="modal-close waves-effect waves-green btn-flat">Search</a>
            </div>
        </div>
    </div>

    <div class="spinner-container z-depth-1">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-teal-only accent-4">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>
        </div>
        
        <div class="loading-info">
            <p>Gathering Potential Colleges</p>
        </div> 

    </div>


    <div id="college-options-container" class="modal">
        <div id="college-options" class="collection with-header">
            <h4 class="collection-header">Colleges</h4>
        </div>
    </div>

    <img id="niche-town" src="{{ url_for('static', filename='images/niche-town.svg') }}" alt="Niche Town">



</body>
    <script src="{{ url_for('static', filename='external_js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='external_js/materialize.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>